{% extends "aplication/base.html" %}
{% load static %}
{% block titulo %}
Ventas
{% endblock%}

{% block body %}
{% include "venta/navbar.html" %}
<div class="container-fluid position-relative">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-danger ">
		{% include "venta/sidebar.html" %}
        <div class="col py-3 mt-5 " style="z-index:2000">
            <section class="container">
                <h1>Orders</h1>
<form class="row align-items-end ">
    
    <div class="col-sm-5 col-xl-2  form-group my-2">
        <label>Order date</label>
        <input type="date" class="form-control">
    </div>
    <div class=" col-sm-6 col-xl-2 my-2">
        <label>to</label>
        <input type="date" class="form-control">
    </div>

    <div class="col-sm-12 col-xl-4 my-2">
         <div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">
					<i class="bi bi-search"></i>
				</span>
			</div>
			<input type="search" class="form-control">
		</div>
    </div>
   
	<div class="col-sm-12 col-xl-1 my-2 d-grid">
        <button type="submit" class="btn btn-block btn-danger">
           Sinc
        </button>
    </div>
    <div class="col-sm-12 col-xl-1 my-2 d-grid">
        <button type="submit" class="btn btn-block btn-warning">
           Export
        </button>
    </div>
    <div class="col-sm-12 col-xl-1  my-2 d-grid">
        <button type="submit" class="btn btn-block btn-success">Detail</button>
    </div>
     <div class="col-sm-12 col-xl-1 my-2 d-grid">
        <button type="submit" class="btn btn-block btn-primary">Search</button>
    </div>

	<div class="table-responsive">
	<table class="table mt-5">
    <thead class="table-dark" style="--bs-table-bg:#dc3545;--bs-table-border-color:#dc3545">
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Hour</th>
        <th>Delivery</th>
        <th>Cancel</th>
        <th>Client/ Tel/ Direccion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/07/2022</td>
        <td style="color:green" ><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td>
			 <i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td  style="color:Gold"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td  style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:green" ><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td>
			 <i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td  style="color:Gold"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td  style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:green" ><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td>
			 <i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td  style="color:Gold"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td  style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:green" ><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td>
			 <i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td  style="color:Gold"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td  style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>
      <tr>
        <td>10/07/2022</td>
        <td style="color:red"><i class="bi bi-circle-fill"></i></td>
        <td>11:00 am</td>
         <td><i class="bi bi-check-circle-fill"></i></td>
        <td style="color:red"><i class="bi bi-check-circle-fill"></i></td>
        <td>Pepito Perez/ 95789432/ Avenida 65 </td>
      </tr>

    </tbody>
  </table>
	</div>
</form>
            </section>
        </div>
    </div>
</div>

{% endblock %}


