<div class="modal modal-lg fade mt-5" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="exampleModalLabel">Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    
<form id="addProdForm" method="post" class="mt-3">
    {% csrf_token %}
	<input type="hidden" name="IdPedido" id="pedido-id">
    <div class="modal-body pt-0">
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Summary</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Product</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- SUMMARY PRODUCT-->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label">Client</label>
    <div class="col-sm-10">
      <input type="text" id='pedido-nombrecliente' class="form-control" readonly>
    </div>
  </div>
  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" id='pedido-telefono' class="form-control" readonly>
    </div>
  </div>
  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label">Order date</label>
    <div class="col-sm-10">
      <input type="text" id='pedido-fechahora' class="form-control" readonly>
    </div>
  </div>
  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" id='pedido-direccion' class="form-control" readonly>
    </div>
  </div>
  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-10">
      <textarea id='pedido-notas' class="form-control" readonly></textarea>
    </div>
  </div>

  <div class="mb-3 mt-3 row" hidden>
    <label  class="col-sm-2 col-form-label">Confirmed by customer</label>
    <div class="col-sm-10">
      <input name="Confirmed_by_customer" id="confirmed-by-customer" type="checkbox" class="form-check-input" checked disabled>
    </div>
  </div>

<div class="mb-3 mt-3 row" hidden>
    <label  class="col-sm-2 col-form-label">In Production</label>
    <div class="col-sm-10">
      <input name="In_production" id="in-production" type="checkbox" class="form-check-input"  checked disabled>
    </div>
  </div>


  <div class="mb-3 mt-3 row" hidden>
    <label class="col-sm-2 col-form-label" readonly>Service</label>
    <div class="col-sm-10">
        <select  name="Servicio" id="pedido-servicios" class="form-select" aria-label="Default select example">
		<option disabled selected value> -- select an option -- </option>
		{% for servicio in servicios %}
		<option value='{{ servicio.IdServicio }}' disabled>{{ servicio.Tipo }}</option>
		{% endfor%}
        </select>
    </div>
  </div>
  <p>{{ servicios.0_IdServicio }}</p>
  <div class="mb-3 mt-3 row" hidden>
    <label  class="col-sm-2 col-form-label">Cancel</label>
    <div class="col-sm-10">
      <input name="Cancel" id="pedido-cancelado" type="checkbox" class="form-check-input">
    </div>
  </div>
  <div class="mb-3 mt-3 row" hidden>
    <label  class="col-sm-2 col-form-label">State</label>
    <div class="col-sm-10">
        <select  name="Estado" id="pedido-estados" class="form-select" aria-label="Default select example">
			<option disabled selected value> -- select an option -- </option>
		{% for estado in estados %}
			<option value='{{ estado.IdEstado }}'>{{ estado.IdEstado }}</option>
		{% endfor%}
        </select>
    </div>
  </div>
  

  <div class="mb-3 mt-3 row">
    <label class="col-sm-2 col-form-label" readonly>Obs</label>
    <div class="col-sm-10">
      <textarea name="Observacion" id='pedido-observacion' class="form-control" readonly></textarea>
    </div>
  </div>
    </div>
    <!-- ADD PRODUCT -->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
<div class="row mt-3">
	<div class="col-lg-12">
	    <table id="example" class="table table-bordered">
	        <thead>
	            <tr>
	                <th class="col-lg-7 text-center">Product</th>
	                <th class="col-lg-3 text-center">Quantity</th>
	            </tr>
	        </thead>
	        <tbody class="lectura">
	        </tbody>
	    </table>
	    </div>
	</div>
</div>
</div> 
</div>
</form>
    </div>
  </div>
</div>

