            <!-- BARRA NAVEGACION -->
            <nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top" style="z-index:1049">
                <div class="container-fluid">
                    <div class="text-light">
                        <span class=" d-none d-lg-inline">
                            App Piononos V1.0
                        </span>
                        <span class="d-block d-lg-none">
                            P
                        </span>
                    </div>
                    <div class="" id="navbarSupportedContent">
                        <a class="nav-link link-light px-0 align-middle" href="{% url 'logout' %}">
                            <i class="fs-4 bi-door-open"></i>
                            <span class="d-none d-sm-inline mx-1">Logout</span>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- FIN BARRA NAVEGACION -->

