[Unit]
Description= sinc piononoApp

[Service]
Type=oneshot
WorkingDirectory = /var/www/webappPIO/aplication
ExecStart = python3 -m scripts.automaticsinc
